apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/ssl/ca.crt
    server: https://${api}:443
  name: k8s
contexts:
- context:
    cluster: k8s
    user: system:node:${index}
  name: system:node:${index}@k8s
current-context: system:node:${index}@k8s
kind: Config
preferences: {}
users:
- name: system:node:${index}
  user:
    client-certificate: /etc/ssl/k8s/kubelet/kubelet.crt
    client-key: /etc/ssl/k8s/kubelet/kubelet.key