apiVersion: v1
clusters:
- cluster:
    certificate-authority: ${ca}
    server: https://${api}:6443
  name: k8s
contexts:
- context:
    cluster: k8s
    user: ${user}
  name: ${user}@k8s
current-context: ${user}@k8s
kind: Config
preferences: {}
users:
- name: ${user}
  user:
    client-certificate: ${crt}
    client-key: ${key}