apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
  labels:
    app: etcd
  name: etcd-$${HOSTNAME}
  namespace: kube-system
spec:
  containers:
  - args:
    - '#!/bin/sh
      set -o allexport
      source /etc/etcd/etcd.conf
      exec etcd
      '
    command:
    - /bin/sh
    - -c
    image: ${image}
    livenessProbe:
      exec:
        command:
        - etcdctl
        - --cert-file
        - /etc/etcd/peer.crt
        - --key-file
        - /etc/etcd/peer.key
        - --ca-file
        - /etc/etcd/ca.crt
        - --endpoints
        - https://$${HOST_IP}:2379
        - cluster-health
      initialDelaySeconds: 45
    name: etcd
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /etc/etcd/
      name: config
      readOnly: true
    - mountPath: /var/lib/etcd/
      name: data
    workingDir: /var/lib/etcd
  hostNetwork: true
  priorityClassName: system-node-critical
  restartPolicy: Always
  volumes:
  - hostPath:
      path: /etc/etcd/
    name: config
  - hostPath:
      path: /var/lib/etcd
    name: data